* body {
  background-color: black;
}

@media (max-width: 600px) {
  .section_one {
    background-color: darkred;
    height: 100vh;
    width: 100%;
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  .section_two {
    background-color: darkblue;
    height: 100vh;
    width: 100%;
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
    text-align: center;
    color: white;
  }
  .section_two .title_and_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    gap: 3em;
    margin: -2em 0 0 0;
  }
  .section_two .title_and_nav .two_desktop_nav {
    display: none;
  }
  .section_two .title_and_nav .mobile_nav #dots_menu {
    width: 3em;
  }
  .section_two .title_and_nav .two_title {
    font-size: 1.6rem;
    font-weight: bold;
  }
  .section_two .two_squares {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 100%;
    height: 80%;
    margin: -5ch 0 0 0;
  }
  .section_two .two_squares .square {
    background-color: gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 25%;
  }
  .section_two .two_squares .square #first_one {
    width: 5em;
  }
  .section_two .two_squares .square #r1 {
    width: 3em;
  }
  .section_two .two_squares .square #mps {
    width: 6em;
  }
  .section_three {
    background-color: rgb(6, 46, 6);
    height: 100vh;
    width: 100%;
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
    color: white;
  }
  .section_three .circle {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 25%;
    border-radius: 50%;
  }
  .section_three .circle .inner_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    width: 80%;
    height: 80%;
    border-radius: 50%;
  }
}
@media (orientation: landscape) {
  .section_one {
    background-color: rgb(131, 11, 7);
    height: 100vh;
    width: 100%;
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  .section_two {
    background-color: darkblue;
    background-color: rgb(2, 61, 61);
    height: 100vh;
    width: 100%;
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
    color: white;
  }
  .section_two .title_and_nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0ch 0 0 0;
  }
  .section_two .title_and_nav .two_desktop_nav {
    display: none;
  }
  .section_two .title_and_nav .mobile_nav #dots_menu {
    width: 3em;
  }
  .section_two .title_and_nav .two_title {
    font-size: 2rem;
    font-weight: bold;
  }
  .section_two .two_squares {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    gap: 2em;
    margin: -8ch 0 0 0;
  }
  .section_two .two_squares .square {
    background-color: grey;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 65%;
  }
  .section_two .two_squares .square #first_one {
    width: 5em;
  }
  .section_two .two_squares .square #r1 {
    width: 3em;
  }
  .section_two .two_squares .square #mps {
    width: 6em;
  }
  .section_three {
    background-color: rgb(6, 46, 6);
    height: 100vh;
    width: 100%;
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
    color: white;
  }
  .section_three .circle {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 55%;
    border-radius: 50%;
  }
  .section_three .circle .inner_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    width: 80%;
    height: 80%;
    border-radius: 50%;
  }
}
@media only screen and (width: 720px) {
  .section_one {
    background-color: rgb(131, 11, 7);
    height: 100vh;
    width: 100%;
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  .section_two {
    background-color: darkblue;
    height: 100vh;
    width: 100%;
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
    color: white;
  }
  .section_two .square {
    background-color: gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 55%;
  }
  .section_two .square #first_one {
    width: 5em;
  }
  .section_two .square #r1 {
    width: 3em;
  }
  .section_two .square #mps {
    width: 6em;
  }
  .section_three {
    background-color: rgb(6, 46, 6);
    height: 100vh;
    width: 100%;
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
    color: white;
  }
  .section_three .circle {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 25%;
    border-radius: 50%;
  }
  .section_three .circle .inner_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    width: 80%;
    height: 80%;
    border-radius: 50%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 811px), (width: 912px) {
  .section_one {
    background-color: rgb(97, 28, 63);
    height: 100vh;
    width: 100%;
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  .section_two {
    background-color: darkblue;
    height: 100vh;
    width: 100%;
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
    text-align: center;
    color: white;
  }
  .section_two .square {
    background-color: gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 15%;
  }
  .section_two .square #first_one {
    width: 5em;
  }
  .section_two .square #r1 {
    width: 3em;
  }
  .section_two .square #mps {
    width: 6em;
  }
  .section_three {
    background-color: rgb(6, 46, 6);
    height: 100vh;
    width: 100%;
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
    color: white;
  }
  .section_three .circle {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 25%;
    border-radius: 50%;
  }
  .section_three .circle .inner_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    width: 80%;
    height: 80%;
    border-radius: 50%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .section_one {
    background-color: darkmagenta;
    height: 100vh;
    width: 100%;
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  .section_two {
    background-color: darkblue;
    height: 100vh;
    width: 100%;
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
    text-align: center;
    color: white;
  }
  .section_two .square {
    background-color: gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 20%;
  }
  .section_two .square #first_one {
    width: 5em;
  }
  .section_two .square #r1 {
    width: 3em;
  }
  .section_two .square #mps {
    width: 6em;
  }
  .section_three {
    background-color: rgb(6, 46, 6);
    height: 100vh;
    width: 100%;
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
    color: white;
  }
  .section_three .circle {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 25%;
    border-radius: 50%;
  }
  .section_three .circle .inner_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    width: 80%;
    height: 80%;
    border-radius: 50%;
  }
}
@media only screen and (min-width: 1200px) {
  .section_one {
    background-color: darkolivegreen;
    height: 100vh;
    width: 100%;
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  .section_two {
    background-color: darkblue;
    height: 100vh;
    width: 100%;
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
    color: white;
  }
  .section_two .title_and_nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    width: 85%;
  }
  .section_two .title_and_nav .two_desktop_nav ul {
    display: flex;
    gap: 1em;
  }
  .section_two .title_and_nav .two_desktop_nav ul li {
    list-style: none;
  }
  .section_two .title_and_nav .two_desktop_nav ul li a {
    color: white;
    text-decoration: none;
  }
  .section_two .title_and_nav .mobile_nav {
    display: none;
  }
  .section_two .title_and_nav .two_title {
    font-size: 3rem;
    font-weight: bold;
  }
  .section_two .two_squares {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6em;
    height: 80%;
    width: 85%;
    margin-top: -7ch;
  }
  .section_two .two_squares .square {
    background-color: grey;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 75%;
  }
  .section_two .two_squares .square #r1 {
    width: 5em;
  }
  .section_two .two_squares .square #mps {
    width: 7em;
  }
  .section_three {
    background-color: rgb(6, 46, 6);
    height: 100vh;
    width: 100%;
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
    color: white;
  }
  .section_three .circle {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 35%;
    border-radius: 50%;
  }
  .section_three .circle .inner_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    width: 80%;
    height: 80%;
    border-radius: 50%;
  }
}
@media only screen and (min-width: 1500px) {
  .section_one {
    background-color: rgb(126, 72, 6);
    height: 100vh;
    width: 100%;
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  .section_one .square {
    background-color: gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 55%;
  }
  .section_one .square #r1 {
    width: 5em;
  }
  .section_one .square #mps {
    width: 7em;
  }
  .section_two {
    background-color: darkblue;
    height: 100vh;
    width: 100%;
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
    color: white;
  }
  .section_two .title_and_nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    width: 85%;
  }
  .section_two .title_and_nav .two_desktop_nav ul {
    display: flex;
    gap: 1em;
  }
  .section_two .title_and_nav .two_desktop_nav ul li {
    list-style: none;
  }
  .section_two .title_and_nav .two_desktop_nav ul li a {
    color: white;
    text-decoration: none;
  }
  .section_two .title_and_nav .mobile_nav {
    display: none;
  }
  .section_two .title_and_nav .two_title {
    font-size: 3rem;
    font-weight: bold;
  }
  .section_two .two_squares {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6em;
    height: 80%;
    width: 85%;
    margin-top: -7ch;
  }
  .section_two .two_squares .square {
    background-color: grey;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 75%;
  }
  .section_two .two_squares .square #r1 {
    width: 5em;
  }
  .section_two .two_squares .square #mps {
    width: 7em;
  }
  .section_three {
    background-color: rgb(6, 46, 6);
    height: 100vh;
    width: 100%;
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
    color: white;
  }
  .section_three .circle {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 45%;
    border-radius: 50%;
  }
  .section_three .circle .inner_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    width: 80%;
    height: 80%;
    border-radius: 50%;
  }
}
@media only screen and (min-width: 1900px) {
  .section_one {
    background-color: darkcyan;
    height: 100vh;
    width: 100%;
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  .section_one .square {
    background-color: gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 55%;
  }
  .section_one .square #r1 {
    width: 5em;
  }
  .section_one .square #mps {
    width: 7em;
  }
  .section_two {
    background-color: darkblue;
    height: 105vh;
    width: 100%;
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  .section_two .title_and_nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    width: 85%;
  }
  .section_two .title_and_nav .two_desktop_nav ul {
    display: flex;
    gap: 1em;
  }
  .section_two .title_and_nav .two_desktop_nav ul li {
    list-style: none;
  }
  .section_two .title_and_nav .two_desktop_nav ul li a {
    color: white;
    text-decoration: none;
  }
  .section_two .title_and_nav .mobile_nav {
    display: none;
  }
  .section_two .title_and_nav .two_title {
    font-size: 3rem;
    font-weight: bold;
  }
  .section_two .two_squares {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6em;
    height: 80%;
    width: 85%;
    margin-top: -7ch;
  }
  .section_two .two_squares .square {
    background-color: grey;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 75%;
  }
  .section_two .two_squares .square #r1 {
    width: 5em;
  }
  .section_two .two_squares .square #mps {
    width: 7em;
  }
  .section_three {
    background-color: rgb(6, 46, 6);
    height: 100vh;
    width: 100%;
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
    color: white;
  }
  .section_three .circle {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 35%;
    width: 24vw;
    height: 24vw;
    border-radius: 50%;
  }
  .section_three .circle .inner_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    width: 23vw;
    height: 23vw;
    border-radius: 50%;
  }
}/*# sourceMappingURL=style.css.map */